$black: #000;
$bg-black: rgb(40, 44, 53);
// $black: #0a1931;
$black-800: #374151;
$white: rgba($white, 0.88);
$gray-300: rgb(229, 231, 235);
$gray: #777;
$light-gray: #fafafa;
$light-green: #a9f1df;
$green: #4e9e8a;
$dark-green: #3c9c84;
$blue: #007bff;
$dark-blue: #434ff5;

$tablet: 'min-width: 768px';
$desktop: 'min-width: 1024px';
