$black: #0a1931;
$white: #fff;
$gray: rgb(229, 231, 235);
$light-gray: #fafafa;
$light-green: #a9f1df;
$blue: #007bff;
$dark-blue: #434ff5;

$tablet: 'min-width: 768px';
$desktop: 'min-width: 1024px';
