$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px,
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)',
);
@import './include-media';

@import '~bootstrap/scss/bootstrap';

@import './variables.scss';

body {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.5px;
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  color: $green;
  transition: color 0.3s linear;

  .dark-mode & {
    // color: $white !important;
  }
}

a {
  text-decoration: none;
  transition: background 0.3s linear, color 0.3s linear, opacity 0.3s linear,
    border 0.3s linear;
  color: $green;

  &:hover {
    color: $dark-green;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  display: flex;
  align-content: space-between;
  min-height: 100vh;
  flex-flow: wrap;
  padding-top: 50px;
  transition: background 0.3s linear;
  background: $white;

  &.dark-mode {
    background: $bg-black;
    color: $white;
  }

  header,
  main,
  footer {
    width: 100%;
  }
}

.container {
  max-width: 960px;
  padding-top: 50px;
  padding-bottom: 50px;

  &--md {
    max-width: 860px;
  }
}

.header {
  background-color: $white;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  backdrop-filter: saturate(180%) blur(20px);
  transition: background 0.3s linear;
  // margin-top: 50px;

  .dark-mode & {
    // background-color: rgba(148, 140, 140, 0.6);
    background-color: rgba($bg-black, 1);
  }

  .container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.nav {
  a {
    margin-left: 15px;
    color: $black;
    border-bottom: 4px solid transparent;
    transition: all 0.3s linear;
    padding-bottom: 4px;
    text-decoration: none;

    .dark-mode & {
      color: $white;
    }

    &:hover,
    &.active {
      border-bottom-color: $green;
    }

    @media ($tablet) {
      margin-left: 30px;
    }
  }
}

.theme-toggle {
  background: $gray-300;
  // background: $green;
  width: 40px;
  height: 40px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.3s linear;

  &:hover {
    // background: $green;
  }

  .dark-mode & {
    background: $green;
  }

  svg {
    width: 22px;
    fill: $green;
  }
}

.intro {
  text-align: center;

  .img-holder {
    width: 200px;
    height: 200px;
    margin: 0 auto 50px;
    border-radius: 100%;
    overflow: hidden;
  }
}

.footer {
  .container {
    padding-top: 30px;
    padding-bottom: 50px;
    border-top: 1px solid $gray-300;

    .dark-mode & {
      border-color: rgba($gray-300, 0.08);
    }
  }
}

.meta {
  color: $gray;
}

.post-meta {
  margin-bottom: 50px;
  color: $gray;

  .img-author {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0 10px 0 0;
    background-position: 50% 50%;
    background-size: cover;
  }

  .name {
    font-size: 14px;
  }
}

.project-block {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
  z-index: 1;
  color: $white;
  border-radius: 20px;
  overflow: hidden;
  padding: 10px;
  transition: opacity 0.3s linear;
  margin-bottom: 30px;

  &:hover {
    color: $white;
    opacity: 0.9;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($black, 0.5);
    z-index: -1;
  }

  h3 {
    font-size: 18px;
    line-height: 1.2;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

    @include media('>=tablet') {
      font-size: 16px;
    }

    @include media('>=desktop') {
      font-size: 18px;
    }
  }

  .description {
    ul {
      padding: 0;
      list-style-type: none;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      font-size: 12px;
      line-height: 1.2;
      justify-content: center;

      > li {
        margin: 2px;
        background: $white;
        padding: 5px 10px;
        border-radius: 4px;
        color: $black;
      }
    }
  }
}

.post {
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: 30px;

  .img-holder {
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
    height: 200px;
    background-position: 50% 50%;
    background-size: cover;
    box-shadow: 0 0 6px rgba($black, 0.1);

    @include media('>=tablet') {
      width: 300px;
      margin-bottom: 0;
    }
  }

  .description {
    @include media('>=tablet') {
      width: calc(100% - 300px);
      padding: 0 0 0 30px;
    }
  }

  h3 {
    color: $green;
  }

  &:hover {
    opacity: 0.9;
  }
}
